

.textcontent{ position: absolute;
	        top: 20px;
	        left: 975px;
           background-color: #ADD8F6;
           width: 200px;
           height: 300px;


           border-color : yellow;
         border-style: solid;
	
        
         opacity:0.6;filter: alpha(opacity=60);

                            }

.textcontent p {font-size: 15px;
               color: blue;
           font-family:Verdana,Arial;
           margin-top:15px;
           margin-left:15px;

                                  }